* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.main {
    font-family: Inter;
    background-color: #212121;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.left {
    flex: 0;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    padding: .8rem 1rem .8rem 0;
    overflow-y: auto;
    font-size: .86rem;
}

.left>p {
    color: #aaaaaa;
    font-weight: 600;
    padding: .8rem 2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.left>p>a {
    color: #aaaaaa;
}

.left-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: .8rem 2rem;
}

.left-menu img {
    /* height: 1.3rem; */
    width: 1.3rem;
}

.left-menu:hover {
    background-color: #303030;
    cursor: pointer;
}

.sports img {
    height: 1.3rem;
}

.hz-line {
    min-height: .1rem;
    background-color: #303030;
    margin: .8rem 0;
}

.subs-profile img {
    border-radius: 50%;
}

.right {
    flex: 1;
    /* background-color: #fff; */
    border-top: 1px solid #303030;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

.right-flex {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding: .8rem 1rem;
}

.filter-btn {
    border-radius: 2rem;
    padding: .5rem .8rem;
    background-color: #303030;
    color: white;
    border: 1px solid #aaaaaa;
}

.filter-btn:first-child {
    background-color: #fff;
    color: black;
    border: none;
}

.right-grid-parent{
    flex: 1;
    padding: .8rem 1rem;
    background-color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    font-size: .8rem; */
}
.right-grid {
    /* flex: 1; */
    /* padding-inline: .5rem; */
    /* background-color: black; */
    /* overflow-y: auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    font-size: .8rem;
}

.video-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    cursor: pointer;
    /* border: 1px solid red; */
    gap: 0.5rem;
}

.thumbnail{
    margin-inline: 1px;
    height: 11vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaaaaa;
}

.thumbnail> img {
    width: 100%;
    height: 100%;
}
.thumbnail> #preview-player{
    width: 100%;
    height: 100%;
}

.duration{
    background-color: black;
    /* font-weight: bold; */
    padding: .2rem .3rem;
    border-radius: .3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .5rem;
}

.video-details img {
    width: 2.5rem;
    border-radius: 50%;
}

.video-details {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.video-name-views {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.ch-name, .views {
    color: #aaaaaa;
}
.ch-name{
    text-wrap: wrap;
    overflow-x: hidden;
}





@media(max-width: 1300px){
    .right-grid{
        font-size: .7rem;
    }
    .right-flex>*{
        font-size: .7rem;
    }
    .left{
        min-width: 16rem;
    }
    .left img{
        width: 1rem;
    }
    .sports img{
        height: 1rem;
    }
    .left>*{
        font-size: .7rem;
    }
}
@media(max-width: 1200px){
    .right-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .thumbnail{
        height: 13vw;
    }
}
@media(max-width: 1000px){
    .right-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .thumbnail{
        height: 18vw;
    }
}

@media(max-width: 700px){
    .thumbnail{
        height: 23vw;
    }
    .left{
        padding-right: 0;
    }
}

@media(max-width: 480px){
    .right-grid{
        grid-template-columns: 1fr;
    }
    .thumbnail{
        height: 40vw;
    }
}

.d-none{
    display: none;
}